[submodule "vim-alternate"]
	path = hanleylee/vim-alternate
	url = git@github.com:HanleyLee/vim-alternate.git
	branch = master
	update = rebase
[submodule "vim-renamer"]
	path = hanleylee/vim-renamer
	url = git@github.com:hanleylee/vim-renamer.git
	branch = master
	update = rebase
[submodule "vim-t2s"]
	path = hanleylee/vim-t2s
	url = git@github.com:hanleylee/vim-t2s.git
