[submodule "hanleylee/coc-gitcomp"]
	path = hanleylee/coc-gitcomp
	url = git@github.com:hanleylee/coc-gitcomp.git
[submodule "hanleylee/vim-alternate"]
	path = hanleylee/vim-alternate
	url = git@github.com:hanleylee/vim-alternate.git
[submodule "hanleylee/vim-asciiart"]
	path = hanleylee/vim-asciiart
	url = git@github.com:hanleylee/vim-asciiart.git
[submodule "hanleylee/vim-blockmove"]
	path = hanleylee/vim-blockmove
	url = git@github.com:hanleylee/vim-blockmove.git
[submodule "hanleylee/vim-cocoapods"]
	path = hanleylee/vim-cocoapods
	url = git@github.com:hanleylee/vim-cocoapods.git
[submodule "hanleylee/vim-gitignore"]
	path = hanleylee/vim-gitignore
	url = git@github.com:hanleylee/vim-gitignore.git
[submodule "hanleylee/vim-markdown"]
	path = hanleylee/vim-markdown
	url = git@github.com:hanleylee/vim-markdown.git
[submodule "hanleylee/vim-renamer"]
	path = hanleylee/vim-renamer
	url = git@github.com:hanleylee/vim-renamer.git
[submodule "hanleylee/vim-stconvert"]
	path = hanleylee/vim-stconvert
	url = git@github.com:hanleylee/vim-stconvert.git
[submodule "hanleylee/vim-taskpaper"]
	path = hanleylee/vim-taskpaper
	url = git@github.com:hanleylee/vim-taskpaper.git
[submodule "hanleylee/vim-togglecursor"]
	path = hanleylee/vim-togglecursor
	url = git@github.com:hanleylee/vim-togglecursor.git
; vim:set noexpandtab tabstop=4 shiftwidth=4 tw=150:
[submodule "hanleylee/hlvimlib"]
	path = hanleylee/hlvimlib
	url = git@github.com:hanleylee/hlvimlib.git
[submodule "hanleylee/vim-rst"]
	path = hanleylee/vim-rst
	url = git@github.com:hanleylee/vim-rst.git
